body{
    font-family: 'Raleway', sans-serif;
}
/* ----------------------
    banner started
---------------------- */
#banner {
    background-image: url(../images/donation3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:150px 350px 200px 350px;
}
#banner .content h1{
    color:#fff;
    font-size: 50px;
    font-weight: 700;
}
#banner .content p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
#banner .content .donate_button{
    padding-top: 50px;
}
#banner .content .donate_button a{
    text-decoration: none;
    background: #c8351b;
    text-transform: capitalize;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    font-size: 20px;
    transition: .4s;
}
#banner .content .donate_button a:hover{
    background: #fff;
    color:#c8351b;
}
/* ----------------------
    banner end
---------------------- */
/* ----------------------
    donate part started
---------------------- */
#donate .donate_heading{
    text-align: center;
    margin: 100px 350px 0 350px;
}
#donate .donate_heading h1{
    font-size: 50px;
    font-weight: 700;
}
#donate .donate_heading p{
    font-size: 20px;
    font-weight: 400;
}
/* ----------------------
    donate part end
---------------------- */
 