body{
    font-family: 'Open Sans', sans-serif;
}
.donate_button{
    padding-top: 50px;
    text-align: center;
}
.donate_button a{
    text-decoration: none;
    background: #e85d61;
    text-transform: capitalize;
    padding: 18px 10px;
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    font-size: 20px;
    border: 2px solid transparent;
    transition: .4s;
}
.donate_button a:hover{
    background: #fff;
    color:#ca3539;
    border: 2px solid #ca3539;
}
.donate_heading{
    text-align: center;
    margin: 100px 350px 0 350px;
}
.donate_heading h1{
    font-size: 50px;
    font-weight: 700;
}
.donate_heading p{
    font-size: 16px;
    font-weight: 400;
}
/* ----------------------
    banner started
---------------------- */
#banner {
    background-image: url(../images/donation3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:150px 350px 200px 350px;
}
#banner .content h1{
    color:#fff;
    font-size: 50px;
    font-weight: 700;
}
#banner .content p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

/* ----------------------
    banner end
---------------------- */
/* ----------------------
    donate part started
---------------------- */
#donate{
    margin-bottom: 180px;
}
#donate .donate_amount{
    margin: 10px 315px 10px 315px;
    display: flex;
    
    
}
#donate .donate_amount .box{
  margin-left: 15px;
  text-align: center;
  width: 18%;

}
#donate .donate_amount .box p{
    background: #f0e2e2;
    padding: 40px 20px;
    border: 2px solid #f0e2e2;
    border-radius: 5px;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 800;
    color: #978b8b;
    transition: .4s;
}
#donate .donate_amount .box p:hover{
    color: #ca3539;
    border: 2px solid #ca3539;
    background: #efb8af;
}
#donate .donate_input{
    text-align: center;
}
#donate .donate_input input{
    border: none;
    border-bottom: 3px solid #999493!important;
    text-align: center;
    width: 50%;
    height: 10px;
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
}
/* ----------------------
    donate part end
---------------------- */
/* ----------------------
    donate_plan part start
---------------------- */
#donate_plan .donate_plan_box{
    display: flex;
    margin: 80px 150px 0 150px;
}
#donate_plan .donate_plan_box .plan_box{
    width: 70%;
    justify-content: space-between;
    border: 1px solid #fff;
    margin-left: 25px;
    padding: 50px 35px 35px 20px;

}
#donate_plan .donate_plan_box .plan_box h3{
    font-size: 25px;
    font-weight: 700;
}
#donate_plan .donate_plan_box .plan_box p{
    color: #7f7c7b;
    font-size: 15px;
    font-weight: 400;
}
#p_one{
    background: #d5f1f3;
}
#p_two{
    background: #f3dcdc;
}
#p_three{
    background: #f5eeca;
}
/* ----------------------
    donate_plan part end
---------------------- */
/* ----------------------
    update part start
---------------------- */
.update_box{
    background: #f5eeca;
    margin: 50px 290px;
    text-align: center;
}
.update_box .update_content{
    padding:110px 180px;
    display: flex;
    justify-content: center;
}
.update_box .update_content .email input{
    border: none;
    background: #cabcbc;
    padding: 12px 50px 12px 10px;
    font-size: 16px;
    color: #292827;
    border-radius: 5px 0 0 5px;
}
.update_box .update_content .Subscribe{
    margin-top:10px ;
}
.update_box .update_content .Subscribe a{
    background: #e85d61;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 40px 10px 40px;
    text-align: center;
    border-radius: 0 5px 5px 0;
}
/* ----------------------
    update part end
---------------------- */
/* ----------------------
    footer part start
---------------------- */
footer{
    background: #000;
    text-align: center;
    padding: 30px 0;
}
footer h1{
    color: tomato;
    font-family: 'Pacifico', cursive !important;
}
footer p{
    color: #cabcbc;
}
/* ----------------------
    footer part end
---------------------- */
 