body{
    font-family: 'Open Sans', sans-serif;
}
/* ----------------------
    banner started
---------------------- */
#banner {
    background-image: url(../images/donation3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:150px 350px 200px 350px;
}
#banner .content h1{
    color:#fff;
    font-size: 50px;
    font-weight: 700;
}
#banner .content p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
#banner .content .donate_button{
    padding-top: 50px;
}
#banner .content .donate_button a{
    text-decoration: none;
    background: #c8351b;
    text-transform: capitalize;
    padding: 15px;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
    font-size: 20px;
    transition: .4s;
}
#banner .content .donate_button a:hover{
    background: #fff;
    color:#c8351b;
}
/* ----------------------
    banner end
---------------------- */
/* ----------------------
    donate part started
---------------------- */
#donate .donate_heading{
    text-align: center;
    margin: 100px 350px 0 350px;
}
#donate .donate_heading h1{
    font-size: 50px;
    font-weight: 700;
}
#donate .donate_heading p{
    font-size: 16px;
    font-weight: 400;
}
#donate .donate_amount{
    margin: 10px 315px 10px 315px;
    display: flex;
    
    
}
#donate .donate_amount .box{
  margin-left: 15px;
  text-align: center;
  width: 18%;

}
#donate .donate_amount .box p{
    background: #f0e2e2;
    padding: 40px 20px;
    border: 2px solid #f0e2e2;
    border-radius: 5px;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 800;
    color: #978b8b;
    transition: .4s;
}
#donate .donate_amount .box p:hover{
    color: #ca3539;
    border: 2px solid #ca3539;
    background: #efb8af;
}
#donate .donate_input{
    text-align: center;
}
#donate .donate_input input{
    border: none;
    border-bottom: 3px solid #efb8af!important;
    text-align: center;
    width: 52%;
    height: 10px;
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
}
/* ----------------------
    donate part end
---------------------- */
 